<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mysuru Rentals</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link  rel="stylesheet" type="text/css" href="login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  </style>
</head>
<body>
<!--  Navigation bar  -->
<header>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span style="color:white">Mysuru</span>Rentals</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#featured-service">Features</a></li>
      <li><a href="#">About Us</a></li>
	  <li><a href="#team">Team</a></li>
	  <li><a href="#contact">Contact</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="/signup">Sign Up</a></li>
	  <li><a href="/login">Sign In</a></li>
    </ul>

  </div>
</nav>
</header>
<!--Navigation bar-->
<!-- Carousel   -->
<div id="myCarousel" class="carousel slide slider " data-ride="carousel">
	<!-- Wrapper for slides -->
		<div class="carousel-inner " role="listbox">
		<div class="item active ">

        <img src="mp2.jpg" alt="New York">
		<div class="carousel-caption">
          <h3 id="caption">Welcome to the Mysuru Rentals</h3>
          <p>Shifting to Mysuru city will no longer be a problem</p>
        </div>
		</div>
		</div>
</div>
<!--carousel-->
<!--features-->
<section id="featured-service">
	   <div class="features-header">
          <h3>Features</h3>
        </div>
		<div class="container">
        <div class="row">

          <div class="col-lg-4 col-xs-4 border-right">
            <h4 class="title">Removes middleman</h4>
            <p class="description">Aim of this website is to remove middleman.You can directly contact to the PG/Flat owners.</p>
          </div>

          <div class="col-lg-4 col-xs-4 border-right">
            <h4 class="title">Transparent communication</h4>
            <p class="description">It offers a transparent communication between intersted sides and encourages to offer competitive price.</p>
          </div>

          <div class="col-lg-4 col-xs-4 ">
            <h4 class="title">Opportunity to PG/Flat owners</h4>
            <p class="description">It provides opportunity to the PG/Flat owners to get occupants with ease.</p>
          </div>

        </div>
		</div>
      </div>
</section>
<!--features-->
<!--Team -->
<section id="team">
	<div class="team-header">
          <h3>Team</h3>
        </div>
   <div class="container">
	<div class="row">
	<div class="col-lg-4 box">
	<div class="card">
		<img class="card-img-top" src="shashank.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Shashank Shaurya</h4>
      <p class="card-text">Back-End Developer</p>
      <div class="social">
      <a href="https://www.facebook.com/Shashank.shaurya"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/shashank.shaurya/?hl=en"><i class="fa fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/shashank-shaurya-720572132/"><i class="fa fa-linkedin"></i></a>
    </div>
	</div>
	</div>
	</div>
	<div class="col-lg-4 box">
	<div class="card">
		<img class="card-img-top" src="satyam.jpg" alt="satyam shekhar" style="width:100%">
	<div class="card-body">
      <h4 class="card-title">Satyam Shekhar</h4>
      <p class="card-text">Front-End Developer</p>
      <div class="social">
      <a href="https://www.facebook.com/satyam.shekhar.182"><i class="fa fa-facebook"></i></a>
	  <a href="https://www.instagram.com/satyam._.shekhar/?hl=en"><i class="fa fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/satyam-shekhar-a77994148/"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
	</div>
	</div>
	<div class="col-lg-4 box">
	<div class="card">
    <img class="card-img-top" src="rajesh.jpg" alt="Rajesh singh" style=" height:360px">
    <div class="card-body">
      <h4 class="card-title">Rajesh Singh</h4>
      <p class="card-text">Front-End Developer</p>
	  <div class="social">
      <a href="https://www.facebook.com/Rajeshsinghrsmsd"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/mr_singh_r/?hl=en"><i class="fa fa-instagram"></i></a>        <a href="https://www.linkedin.com/in/rajesh-singh-978b4a150/"><i class="fa fa-linkedin"></i></a>
	  </div>
    </div>
	</div>
	</div>
   </div>
</section>
<!--team-->
<!--contact us-->
<section id="contact" class="section-bg wow fadeInUp">
      <div class="container">
        <div class="contact-header">
        <h3>Contact Us</h3>
        <p>For any queries,contact us</p>
        </div>
        <div class="row contact-info">
		<div class="col-md-4">
        <div class="contact-address">
        <i class="ion-ios-location-outline"></i>
        <h3>Address</h3>
        <address>361,G.S Ramakrishnaih Main road<br>Vidyaranya Puram,Mysuru<br>Karnataka</address>
        </div>
        </div>

        <div class="col-md-4">
        <div class="contact-phone">
        <i class="ion-ios-telephone-outline"></i>
        <h3>Contact Number</h3>
        <p>+919304092996<br>+919113799787<br>+919986307497</p>
        </div>
        </div>

        <div class="col-md-4">
        <div class="contact-email">
        <i class="ion-ios-email-outline"></i>
        <h3>Email</h3>
        <p>singh.rs7777@gmail.com<br>ssshauryaa@gmail.com<br>onlyoneSatyam@gmail.com</a></p>
        </div>
        </div>

        </div>
</section>


</body>
</html>
